{% extends "base_generic.html" %}

{% block content %}

    <h4> You are going to get: {{ track.title }}</h4>
    <h5> The price: {{ track.price }}</h5>
    <h5> Funds available: {{ funds }} </h5>
    {% if enough_money %}
        <form action="/purchase/?id={{ track.id }}" method="POST">
            {% csrf_token %}
            <input type="Submit" value="Buy">
        </form>
    {% else %}
        <h5>Insufficient funds! You can add funds on <a href="{% url 'profile' %}">profile page.</a></h5>
    {% endif %}

{% endblock %}