{% extends "base_generic.html" %}

{% block content %}
    <h1>Tracks</h1>
    <form method="post" action="rest/track_list">
      <p>Title:<br> <input name="title" /></p>
        <p>Artist:<br> <input name="artist" /></p>
        <input type="submit" value="Send" />
    </form>

    {% if tracks_list %}
    <ul>

        {% csrf_token %}

      {% for track in tracks_list %}
      <li>
        <a href="{% url 'tracks'%}?id={{track.id}}">{{ track.title }}</a>
      </li>
      
      {% endfor %}
      <a href="{% url 'listen'%}?id={{track.id}}">{{ track.title }}</a>
    </ul>

    {% else %}
      <p>There are no tracks for now..</p>
    {% endif %}
{% endblock %}